/* BRAND STYLES */

/* Default */
.button.button-default {
  color: #ffffff;
  background-color: #66cc31;
}
.button.button-default:hover,
.button.button-default:focus {
  filter: brightness(90%);
}

/* Demonbolt */
.button.button-demonbolt {
  color: #ffffff;
  background-color: #f03f35;
}
.button.button-demonbolt:hover,
.button.button-demonbolt:focus {
  filter: brightness(90%);
}

/* Dev.to */
.button.button-devto {
  color: #ffffff;
  background-color: #000000;
}
.button.button-devto:hover,
.button.button-devto:focus {
  filter: brightness(90%);
}

/* Discord */
.button.button-discord {
  color: #ffffff;
  background-color: #5865f2;
}
.button.button-discord:hover,
.button.button-discord:focus {
  filter: brightness(90%);
}

/* Github */
.button.button-github {
  color: #ffffff;
  background-color: #000000;
}
.button.button-github:hover,
.button.button-github:focus {
  filter: brightness(90%);
}

/* LinkedIn */
.button.button-linkedin {
  color: #ffffff;
  background-color: #2867b2;
}
.button.button-linkedin:hover,
.button.button-linkedin:focus {
  filter: brightness(90%);
}

/* Twitter */
.button.button-twitter {
  color: #ffffff;
  background-color: #1da1f2;
}
.button.button-twitter:hover,
.button.button-twitter:focus {
  filter: brightness(90%);
}

/* Website */
.button.button-web {
  color: #ffffff;
  background-color: #000000;
}
.button.button-web:hover,
.button.button-web:focus {
  filter: brightness(90%);
}
